@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
/* font-family: 'Stylish', sans-serif; */

*{
  font-family: 'Stylish', sans-serif;
}

h1{
  text-align: center;
}

.app{
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
}

span{
 color: blueviolet;
}

img{
  width: 500px;
  height: 300px;
  object-fit: contain;
  align-items: center;
}

.product{
  max-width: 500px;
  background-color: blueviolet;
  padding: 10px;
}

h2{
  color: #fff;
  text-align: center;
  margin: 0 0 20px;
  font-size: 2.2rem;
  border-bottom: 3px double #fff;
}

select{
  font-size: 1.1rem;
  padding: .5em;
  margin: 0 40px;
}